<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY2W1rKiSTkfQNGosVBZ_uqt-wT1Gycnk</string>
	<key>GCM_SENDER_ID</key>
	<string>557012496770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterlyBlocAuth</string>
	<key>PROJECT_ID</key>
	<string>flutterfly-bloc-latest</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfly-bloc-latest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557012496770:ios:46df6579881892af845f9b</string>
</dict>
</plist>